.App {
  text-align: center;
  margin:20px;
}

.MuiTypography-body1 {
  font-size: 25px !important;
  display: block !important;
}
.MuiTypography-colorTextSecondary {
  color: rgba(0, 0, 0, 0.54);
  font-size:20px !important;
}

.MuiTypography-h5 {
  display: block !important;
}

.choose{
  font-size: 18px;
  margin: 60px 0px;
}
.count_total{
  font-size: 20px;
  color:#3f51b5
}
.recipt_name{
  color:#3f51b5
}